#wpbody-content .wrap > h1,
#wpbody-content .wrap > h2 {
	position:relative;
	visibility:hidden;
}

#wpbody-content .wrap > h1:after,
#wpbody-content .wrap > h2:after {
	display:block;
	position:absolute;
	left:0;
	top:0.4em;
	visibility:visible;
}

#wpbody-content #message,
#wpbody-content #minor-publishing,
#wpbody-content #submitdiv .handlediv,
#wpbody-content #submitdiv .hndle,
#wpbody-content #delete-action,
#wpbody-content #screen-meta,
#wpbody-content #screen-meta-links,
#wpbody-content #post-body-content {
	display:none;
}

#wpbody-content #major-publishing-actions {
	border-top:0;
}

#wpbody-content .wrap {
	padding-top:10px;
}
